.client {
  text-align: center;
  color: $color-text-black;
  font-weight: $font-weight-bold;
  font-size: 36px;
  font-style: normal;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__items {
  border: 1px solid $color-border-dirtyPigeon;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;

  &:hover,
  &:focus,
  &:hover svg,
  &:focus svg {
    fill: $color-text-blue;
    border-color: $color-bg-blue;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client__link {
  fill: $color-border-dirtyPigeon;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;

  &:hover svg,
  &:focus svg,
  &:hover,
  &:focus {
    fill: $color-text-blue;
    border-color: $color-bg-blue;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
