.sm-footer {
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-text-white;
  margin-bottom: 0;
  padding-bottom: 20px;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-right: 10px;
  }
}

.sm-footer__link {
  display: block;

  &:hover,
  &:focus {
    background-color: $color-bg-blue;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff1a;
    fill: $color-text-white;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.sm-box {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $color-border-dirtyPigeon;
  margin-bottom: 30px;
  gap: 10px;

  &__link {
    fill: $color-border-dirtyPigeon;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-bg-white;
    transition-property: color, background-color, box-shadow;

    &:hover,
    &:focus {
      background-color: $color-bg-blue;
      fill: $color-text-white;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
