$color-text-gray: #757575;
$color-text-blue: #2196f3;
$color-text-black: #212121;
$color-text-white: #ffffff;
$color-text-lightGray: #ffffff99;
$color-bg-darkGray: #2f303a;
$color-bg-almostWhite: #f5f4fa;
$color-bg-dirtyWhite: #e5e5e5;
$color-bg-blue: #2196f3;
$color-bg-white: #ffffff;
$color-border-beige: #ececec;
$color-border-pigeon: #eeeeee;
$color-border-dirtyPigeon: #afb1b8;

$main-font: "Roboto";
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-regular: 400;
