$color-text-gray: #757575;
$color-text-blue: #2196f3;
$color-text-black: #212121;
$color-text-white: #ffffff;
$color-text-lightGray: #ffffff99;
$color-bg-darkGray: #2f303a;
$color-bg-almostWhite: #f5f4fa;
$color-bg-dirtyWhite: #e5e5e5;
$color-bg-blue: #2196f3;
$color-bg-white: #ffffff;
$color-border-beige: #ececec;
$color-border-pigeon: #eeeeee;
$color-border-dirtyPigeon: #afb1b8;

$main-font: "Roboto";
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-regular: 400;

$box-shadow-btn: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
  0px 2px 2px #0000001f;
$box-shadow-cards: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f,
  1px 4px 6px #00000029;
